*
  box-sizing: border-box;

blockquote
  white-space: pre-line;
  background-color: #f8f8f8;
  border-radius: 0 4px 4px 0;

strong
  padding: 0 3px;

.sidebar
  z-index: 11;

pre::-webkit-scrollbar, pre[class*="language-"]::-webkit-scrollbar
  height: 4px;

.home, .page
  ol, ul
    margin-top: 1em;
    ol, ul
      margin-top: 0;
  ol 
    li
      list-style: auto;
  ul 
    li
      list-style: initial;

// code

{$contentClass}
  code
    background-color rgba(175, 184, 193, 0.2)
