// https://vuepress.vuejs.org/zh/config/#palette-styl
$accentColor = #00ADD8
$textColor = #222831
$borderColor = #eeeeee
$codeBgColor = #282c34

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 960px
$homePageWidth = 1200px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px